#navbar{
  display: block;
  background-color:black;
  overflow: hidden;
}
.nav{
  margin:0;
  padding: 0;
  float: right;
  list-style-type: none;
}
.nav a{
  display: block;
  background-color: black;
  color: white;
  text-decoration: none;
  padding: 14px 20px;
  cursor: e-resize;
  float: right;
  text-align: center;
  font-size: 17px;
}
.nav a:hover{
  background-color: white;
  display: block;
  color:black;
  text-decoration: none;
  padding: px;
  cursor: e-resize;
  text-align:center;
}
#navbar input[type=text]{
  float: left;
  padding: 6px;
  margin-top:8px;
  margin-left: 16px;
  font-size: 17px;
  border: none;
}
#navbar button{
  float: left;
  padding: 6px;
  margin-top:8px;
  font-size: 17px;
  border: none;
}
#title{
  text-align: left;
  text-shadow: 0px 0px 3px red;
}
img{
  display: block;
  float: left;
  padding: 6px;
  margin-top:4px;
  margin-left: 16px;
  width : 100px;
  height: auto;
}